.app-library {
	padding: 10px;
}

.bandcamp {
	display: inline-block;
	width: 10px;
	height: 10px;
	background-color: aquamarine;
}

.spotify {
	display: inline-block;
	width: 10px;
	height: 10px;
	background-color: black;
}
